# Logs
yarn-debug.log*
yarn-error.log*

# Packages
node_modules/
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Editors
.idea

# Artifacts
storybook-static
__screenshots__
__optishots__
.reg
*/**/dist
/icons
*/**/coverage-ts
ts-coverage.txt
test-coverage.txt
*/**/jest-html-reporters-attach
*/**/coverage
*/**/coverage-changed
jest_html_reporters.html
junit.xml
*/**/bundle-report
analyze/meta.json

/infra/.terraform
/infra/.terraform.lock.hcl

.env
